@import '../../styling/vars';
@import '../../styling/animation/animation';

.panel {
  background-color: $color-tertiary;
  color: $color-white;
  grid-area: panel;
  padding: $spacing;

  @media (min-width: $bp-md) {
    padding: $spacing-md;
  }
}

.panel__heading {
  @include animate-from-left;

  @media (min-width: $bp-md) {
    @include animate-from-right;
  }
}
