/* ### Animation vars ### */

// Timing vars
$animation-timing-default: 1s;
$animation-timing-long: 2s;

// Transition vars
$animation-transition-default-timing: 0.5s;

// Scale values
$animation-scale-default: 1.1;