/* ### Animation vars ### */

// Timing vars
$animation-timing-default: 1s;
$animation-timing-long: 2s;

// Transition vars
$transition-timing-default: 0.5s;
$transition-timing-long: 1s;
$transition-timing-very-long: 2s;

// Scale values
$animation-scale-default: 1.1;