@import '../../styling/vars';
@import '../../styling/animation/animation';

.content {
  background-color: $color-secondary;
  grid-area: content;
  padding: $spacing;

  @media (min-width: $bp-md) {
    padding: $spacing-md;
  }
}

.content__heading {
  // Animation
  @include animate-from-right($animation-timing-default);

  @media (min-width: $bp-md) {
    @include animate-from-left($animation-timing-default);
  }
}
