@import '../../styling/vars';
@import '../../styling/animation/animation.scss';

.header {
  align-items: center;
  background-color: $color-primary;
  grid-area: hd;

  @media (min-width: $bp-md) {
    display: grid;
    grid-template-areas: 'header header header header search';
    grid-template-columns: $grid-columns-right-md;
  }
}

.header__h1 {
  font-size: 1.75rem;
  padding-left: $spacing;

  // Animation
  @include animate-from-left($animation-timing-default);

  @media (min-width: $bp-md) {
    padding-left: $spacing-md;

    // Animation
    @include animate-from-top($transition-timing-default);
  }
}

.header__h1:hover {
  @media (min-width: $bp-md) {
    transform: scale($animation-scale-default);
  }
}
